# 1. Data Cleaning: Handling Missing Values, Outliers

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Load dataset
dataset = pd.read_csv('dataset.csv')

In [3]:
dataset

,name,description,make,model,year,price,engine,cylinders,fuel,mileage,transmission,trim,body,doors,exterior_color,interior_color,drivetrain
0,2024 Jeep Wagoneer Series II,"\n \n Heated Leather Seats, Nav Sy...",Jeep,Wagoneer,2024,74600.0,24V GDI DOHC Twin Turbo,6.0,Gasoline,10.0,8-Speed Automatic,Series II,SUV,4.0,White,Global Black,Four-wheel Drive
1,2024 Jeep Grand Cherokee Laredo,Al West is committed to offering every custome...,Jeep,Grand Cherokee,2024,50170.0,OHV,6.0,Gasoline,1.0,8-Speed Automatic,Laredo,SUV,4.0,Metallic,Global Black,Four-wheel Drive
2,2024 GMC Yukon XL Denali,NaN,GMC,Yukon XL,2024,96410.0,"6.2L V-8 gasoline direct injection, variable v...",8.0,Gasoline,0.0,Automatic,Denali,SUV,4.0,Summit White,Teak/Light Shale,Four-wheel Drive
3,2023 Dodge Durango Pursuit,White Knuckle Clearcoat 2023 Dodge Durango Pur...,Dodge,Durango,2023,46835.0,16V MPFI OHV,8.0,Gasoline,32.0,8-Speed Automatic,Pursuit,SUV,4.0,White Knuckle Clearcoat,Black,All-wheel Drive
4,2024 RAM 3500 Laramie,\n \n 2024 Ram 3500 Laramie Billet...,RAM,3500,2024,81663.0,24V DDI OHV Turbo Diesel,6.0,Diesel,10.0,6-Speed Automatic,Laramie,Pickup Truck,4.0,Silver,Black,Four-wheel Drive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,2024 Mercedes-Benz Sprinter 2500 Standard Roof,2024 Mercedes-Benz Sprinter 2500 Cargo 144 WB ...,Mercedes-Benz,Sprinter 2500,2024,59037.0,16V DDI DOHC Turbo Diesel,4.0,Diesel,10.0,9-Speed Automatic,Standard Roof,Cargo Van,3.0,Arctic White,Black,Rear-wheel Drive
998,2024 Dodge Hornet Hornet R/T Plus Eawd,Dealer Comments +++ Price Ends 5/31/2024 +++ A...,Dodge,Hornet,2024,49720.0,"4 gasoline direct injection, DOHC, Multiair va...",4.0,Gasoline,0.0,6-Spd Aisin F21-250 PHEV Auto Trans,Hornet R/T Plus Eawd,SUV,4.0,Acapulco Gold,Black,All-wheel Drive
999,2024 Jeep Wagoneer Base,\n \n The ALL New Friendship CDJR ...,Jeep,Wagoneer,2024,69085.0,24V GDI DOHC Twin Turbo,6.0,Gasoline,20.0,8-Speed Automatic,Base,SUV,4.0,Diamond Black,Black,Four-wheel Drive
1000,2024 Nissan Murano SV Intelligent AWD,"\n \n CVT with Xtronic, AWD.At Tod...",Nissan,Murano,2024,43495.0,"6 DOHC, variable valve control, regular unlead...",6.0,Gasoline,6.0,Automatic,SV Intelligent AWD,SUV,4.0,Pearl White Tricoat,Graphite,All-wheel Drive
1001,2024 Chevrolet Silverado 2500 WT,01u 2024 Chevrolet Silverado 2500HD Work Truck...,Chevrolet,Silverado 2500,2024,48995.0,"8 gasoline direct injection, variable valve co...",8.0,Gasoline,31.0,Automatic,WT,Pickup Truck,4.0,Wheatland Yellow,Jet Black,Rear-wheel Drive

In [4]:
# how many rows and columns
dataset.shape

(1002, 17)

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            1002 non-null   object
 1   description     946 non-null    object
 2   make            1002 non-null   object
 3   model           1002 non-null   object
 4   year            1002 non-null   int64
 5   price           979 non-null    float64
 6   engine          1000 non-null   object
 7   cylinders       897 non-null    float64
 8   fuel            995 non-null    object
 9   mileage         968 non-null    float64
 10  transmission    1000 non-null   object
 11  trim            1001 non-null   object
 12  body            999 non-null    object
 13  doors           995 non-null    float64
 14  exterior_color  997 non-null    object
 15  interior_color  964 non-null    object
 16  drivetrain      1002 non-null   object
dtypes: float64(4), int64(1), object(12)
memory usage: 133.2+ KB

In [6]:
dataset.columns

Index(['name', 'description', 'make', 'model', 'year', 'price', 'engine',
       'cylinders', 'fuel', 'mileage', 'transmission', 'trim', 'body', 'doors',
       'exterior_color', 'interior_color', 'drivetrain'],
      dtype='object')

In [7]:
dataset.isnull().sum()

name                0
description        56
make                0
model               0
year                0
price              23
engine              2
cylinders         105
fuel                7
mileage            34
transmission        2
trim                1
body                3
doors               7
exterior_color      5
interior_color     38
drivetrain          0
dtype: int64

In [8]:
def univariate(dataset):
    Qual=[]
    Quan=[]
    for columnName in dataset:
        #print(columnName)
        if(dataset[columnName].dtypes =='O'):
            #print('Qual')
            Qual.append(columnName)
        else:
            #print('Quan')
            Quan.append(columnName)
    return Qual,Quan

In [9]:
Qual,Quan = univariate(dataset)

In [10]:
Qual

['name',
 'description',
 'make',
 'model',
 'engine',
 'fuel',
 'transmission',
 'trim',
 'body',
 'exterior_color',
 'interior_color',
 'drivetrain']

In [11]:
Quan

['year', 'price', 'cylinders', 'mileage', 'doors']

In [12]:
dataset.describe()

              year          price   cylinders      mileage       doors
count  1002.000000     979.000000  897.000000   968.000000  995.000000
mean   2023.916168   50202.985700    4.975474    69.033058    3.943719
std       0.298109   18700.392062    1.392526   507.435745    0.274409
min    2023.000000       0.000000    0.000000     0.000000    2.000000
25%    2024.000000   36600.000000    4.000000     4.000000    4.000000
50%    2024.000000   47165.000000    4.000000     8.000000    4.000000
75%    2024.000000   58919.500000    6.000000    13.000000    4.000000
max    2025.000000  195895.000000    8.000000  9711.000000    5.000000

In [13]:
# Step 1: Select specific columns for outlier detection
Quan_S = ['year', 'price', 'cylinders', 'mileage', 'doors']

In [14]:
def central_tendency_IQR(dataset, Quan_S):

    descriptive = pd.DataFrame(
        index=[
            'Mean', 'Median', 'Mode',
            'Q1:25%', 'Q2:50%', 'Q3:75%', 'Q4:100%',
            'IQR', 'Lesser IQR', 'Greater IQR',
            'min', 'max', 'kurtosis', 'skew', 'var', 'std'
        ],
        columns=Quan_S
    )

    for columnName in Quan_S:
        descriptive.loc['Mean', columnName] = dataset[columnName].mean()
        descriptive.loc['Median', columnName] = dataset[columnName].median()
        descriptive.loc['Mode', columnName] = dataset[columnName].mode()[0]

        Q1 = dataset[columnName].quantile(0.25)
        Q2 = dataset[columnName].quantile(0.50)
        Q3 = dataset[columnName].quantile(0.75)
        IQR = Q3 - Q1

        descriptive.loc['Q1:25%', columnName] = Q1
        descriptive.loc['Q2:50%', columnName] = Q2
        descriptive.loc['Q3:75%', columnName] = Q3
        descriptive.loc['Q4:100%', columnName] = dataset[columnName].max()

        descriptive.loc['IQR', columnName] = IQR
        descriptive.loc['Lesser IQR', columnName] = Q1 - 1.5 * IQR
        descriptive.loc['Greater IQR', columnName] = Q3 + 1.5 * IQR

        descriptive.loc['min', columnName] = dataset[columnName].min()
        descriptive.loc['max', columnName] = dataset[columnName].max()
        descriptive.loc['kurtosis', columnName] = dataset[columnName].kurtosis()
        descriptive.loc['skew', columnName] = dataset[columnName].skew()
        descriptive.loc['var', columnName] = dataset[columnName].var()
        descriptive.loc['std', columnName] = dataset[columnName].std()

    return descriptive

In [15]:
descriptive = central_tendency_IQR(dataset, Quan_S)

In [16]:
descriptive

                    year             price cylinders      mileage      doors
Mean         2023.916168        50202.9857  4.975474    69.033058   3.943719
Median            2024.0           47165.0       4.0          8.0        4.0
Mode                2024           46835.0       4.0          5.0        4.0
Q1:25%            2024.0           36600.0       4.0          4.0        4.0
Q2:50%            2024.0           47165.0       4.0          8.0        4.0
Q3:75%            2024.0           58919.5       6.0         13.0        4.0
Q4:100%             2025          195895.0       8.0       9711.0        5.0
IQR                  0.0           22319.5       2.0          9.0        0.0
Lesser IQR        2024.0           3120.75       1.0         -9.5        4.0
Greater IQR       2024.0          92398.75       9.0         26.5        4.0
min                 2023               0.0       0.0          0.0        2.0
max                 2025          195895.0       8.0       9711.0        5.0
kurtosis        6.119055          5.173075 -0.068576   177.787517  27.932202
skew           -2.306214          1.488389  0.762139      12.1971  -5.033973
var             0.088869  349704663.271779   1.93913  257491.0351     0.0753
std             0.298109      18700.392062  1.392526   507.435745   0.274409

In [17]:
def check_outliers(dataset, descriptive, Quan_S):
    lesser = []
    greater = []
    
    # Check for outliers
    for columnName in Quan_S:
        if descriptive.loc['Lesser IQR', columnName] > descriptive.loc['min', columnName]:
            lesser.append(columnName)

        if descriptive.loc['Greater IQR', columnName] < descriptive.loc['max', columnName]:
            greater.append(columnName)
    
    return lesser, greater

In [18]:
check_outliers(dataset, descriptive, Quan_S)

(['year', 'price', 'cylinders', 'doors'],
 ['year', 'price', 'mileage', 'doors'])

In [19]:
lesser,greater = check_outliers(dataset,descriptive, Quan_S)

In [20]:
lesser

['year', 'price', 'cylinders', 'doors']

In [21]:
greater

['year', 'price', 'mileage', 'doors']

In [22]:
def replace_outliers(dataset, descriptive, lesser, greater):
    for columnName in lesser:
        dataset.loc[dataset[columnName] < descriptive.loc['Lesser IQR', columnName], columnName] = descriptive.loc['Lesser IQR', columnName]

    for columnName in greater:
        dataset.loc[dataset[columnName] > descriptive.loc['Greater IQR', columnName], columnName] = descriptive.loc['Greater IQR', columnName]

    return dataset

In [23]:
#Replace outliers in the dataset
dataset = replace_outliers(dataset, descriptive, lesser, greater)

In [24]:
dataset.head(3)

,name,description,make,model,year,price,engine,cylinders,fuel,mileage,transmission,trim,body,doors,exterior_color,interior_color,drivetrain
0,2024 Jeep Wagoneer Series II,"\n \n Heated Leather Seats, Nav Sy...",Jeep,Wagoneer,2024,74600.00,24V GDI DOHC Twin Turbo,6.0,Gasoline,10.0,8-Speed Automatic,Series II,SUV,4.0,White,Global Black,Four-wheel Drive
1,2024 Jeep Grand Cherokee Laredo,Al West is committed to offering every custome...,Jeep,Grand Cherokee,2024,50170.00,OHV,6.0,Gasoline,1.0,8-Speed Automatic,Laredo,SUV,4.0,Metallic,Global Black,Four-wheel Drive
2,2024 GMC Yukon XL Denali,NaN,GMC,Yukon XL,2024,92398.75,"6.2L V-8 gasoline direct injection, variable v...",8.0,Gasoline,0.0,Automatic,Denali,SUV,4.0,Summit White,Teak/Light Shale,Four-wheel Drive

In [25]:
descriptive

                    year             price cylinders      mileage      doors
Mean         2023.916168        50202.9857  4.975474    69.033058   3.943719
Median            2024.0           47165.0       4.0          8.0        4.0
Mode                2024           46835.0       4.0          5.0        4.0
Q1:25%            2024.0           36600.0       4.0          4.0        4.0
Q2:50%            2024.0           47165.0       4.0          8.0        4.0
Q3:75%            2024.0           58919.5       6.0         13.0        4.0
Q4:100%             2025          195895.0       8.0       9711.0        5.0
IQR                  0.0           22319.5       2.0          9.0        0.0
Lesser IQR        2024.0           3120.75       1.0         -9.5        4.0
Greater IQR       2024.0          92398.75       9.0         26.5        4.0
min                 2023               0.0       0.0          0.0        2.0
max                 2025          195895.0       8.0       9711.0        5.0
kurtosis        6.119055          5.173075 -0.068576   177.787517  27.932202
skew           -2.306214          1.488389  0.762139      12.1971  -5.033973
var             0.088869  349704663.271779   1.93913  257491.0351     0.0753
std             0.298109      18700.392062  1.392526   507.435745   0.274409

In [26]:
def recheck_outliers_after_replace(dataset, descriptive, Quan_S):
    recheck_lesser = []
    recheck_greater = []
    
    # Check for outliers after replacement
    for columnName in Quan_S:
        if descriptive.loc['Lesser IQR', columnName] > descriptive.loc['min', columnName]:
            lesser.append(columnName)

        if descriptive.loc['Greater IQR', columnName] < descriptive.loc['max', columnName]:
            greater.append(columnName)
    
    return recheck_lesser, recheck_greater

In [27]:
recheck_lesser, recheck_greater = recheck_outliers_after_replace(dataset,descriptive, Quan_S)

In [28]:
recheck_lesser

[]

In [29]:
recheck_greater

[]

In [30]:
# Check if any outliers remain
if recheck_lesser or recheck_greater:
    print("Outliers still present after replacement.")
    # Perform additional actions if needed
else:
    print("No outliers remain after replacement.")

No outliers remain after replacement.

In [31]:
# Save the modified dataset to a new CSV file (for example)
modified_file_path = 'Cleaned_Dataset.csv'
dataset.to_csv(modified_file_path, index=False)

In [32]:
#Load dataset
dataset1 = pd.read_csv('Cleaned_Dataset.csv')

In [33]:
dataset1.head(3)

,name,description,make,model,year,price,engine,cylinders,fuel,mileage,transmission,trim,body,doors,exterior_color,interior_color,drivetrain
0,2024 Jeep Wagoneer Series II,"\n \n Heated Leather Seats, Nav Sy...",Jeep,Wagoneer,2024,74600.00,24V GDI DOHC Twin Turbo,6.0,Gasoline,10.0,8-Speed Automatic,Series II,SUV,4.0,White,Global Black,Four-wheel Drive
1,2024 Jeep Grand Cherokee Laredo,Al West is committed to offering every custome...,Jeep,Grand Cherokee,2024,50170.00,OHV,6.0,Gasoline,1.0,8-Speed Automatic,Laredo,SUV,4.0,Metallic,Global Black,Four-wheel Drive
2,2024 GMC Yukon XL Denali,NaN,GMC,Yukon XL,2024,92398.75,"6.2L V-8 gasoline direct injection, variable v...",8.0,Gasoline,0.0,Automatic,Denali,SUV,4.0,Summit White,Teak/Light Shale,Four-wheel Drive

In [34]:
dataset1.isnull().sum()

name                0
description        56
make                0
model               0
year                0
price              23
engine              2
cylinders         105
fuel                7
mileage            34
transmission        2
trim                1
body                3
doors               7
exterior_color      5
interior_color     38
drivetrain          0
dtype: int64

In [35]:
dataset1 = dataset1.dropna(subset=['price'])

In [36]:
dataset1.head(3)

,name,description,make,model,year,price,engine,cylinders,fuel,mileage,transmission,trim,body,doors,exterior_color,interior_color,drivetrain
0,2024 Jeep Wagoneer Series II,"\n \n Heated Leather Seats, Nav Sy...",Jeep,Wagoneer,2024,74600.00,24V GDI DOHC Twin Turbo,6.0,Gasoline,10.0,8-Speed Automatic,Series II,SUV,4.0,White,Global Black,Four-wheel Drive
1,2024 Jeep Grand Cherokee Laredo,Al West is committed to offering every custome...,Jeep,Grand Cherokee,2024,50170.00,OHV,6.0,Gasoline,1.0,8-Speed Automatic,Laredo,SUV,4.0,Metallic,Global Black,Four-wheel Drive
2,2024 GMC Yukon XL Denali,NaN,GMC,Yukon XL,2024,92398.75,"6.2L V-8 gasoline direct injection, variable v...",8.0,Gasoline,0.0,Automatic,Denali,SUV,4.0,Summit White,Teak/Light Shale,Four-wheel Drive

In [37]:
text_cols = ['description', 'engine', 'interior_color']

for col in text_cols:
    dataset1[col] = dataset1[col].fillna('Unknown')

In [38]:
num_cols = ['cylinders', 'mileage', 'doors']

for col in num_cols:
    dataset1[col] = dataset1[col].fillna(dataset1[col].median())

In [39]:
cat_cols = ['fuel', 'transmission', 'trim', 'body', 'exterior_color']

for col in cat_cols:
    dataset1[col] = dataset1[col].fillna(dataset1[col].mode()[0])

In [40]:
dataset1.isnull().sum()

name              0
description       0
make              0
model             0
year              0
price             0
engine            0
cylinders         0
fuel              0
mileage           0
transmission      0
trim              0
body              0
doors             0
exterior_color    0
interior_color    0
drivetrain        0
dtype: int64

In [41]:
dataset1.to_csv("vehicle_cleaned.csv", index=False)

In [42]:
dataset2 = pd.read_csv('vehicle_cleaned.csv')

In [43]:
dataset2.head(3)

,name,description,make,model,year,price,engine,cylinders,fuel,mileage,transmission,trim,body,doors,exterior_color,interior_color,drivetrain
0,2024 Jeep Wagoneer Series II,"\n \n Heated Leather Seats, Nav Sy...",Jeep,Wagoneer,2024,74600.00,24V GDI DOHC Twin Turbo,6.0,Gasoline,10.0,8-Speed Automatic,Series II,SUV,4.0,White,Global Black,Four-wheel Drive
1,2024 Jeep Grand Cherokee Laredo,Al West is committed to offering every custome...,Jeep,Grand Cherokee,2024,50170.00,OHV,6.0,Gasoline,1.0,8-Speed Automatic,Laredo,SUV,4.0,Metallic,Global Black,Four-wheel Drive
2,2024 GMC Yukon XL Denali,Unknown,GMC,Yukon XL,2024,92398.75,"6.2L V-8 gasoline direct injection, variable v...",8.0,Gasoline,0.0,Automatic,Denali,SUV,4.0,Summit White,Teak/Light Shale,Four-wheel Drive

In [44]:
import datetime

current_year = datetime.datetime.now().year

dataset2['vehicle_age'] = current_year - dataset2['year']
dataset2['mileage_per_year'] = dataset2['mileage'] / (dataset2['vehicle_age'] + 1)

In [45]:
dataset2 = dataset2.drop(columns=['year'])

In [46]:
dataset2

,name,description,make,model,price,engine,cylinders,fuel,mileage,transmission,trim,body,doors,exterior_color,interior_color,drivetrain,vehicle_age,mileage_per_year
0,2024 Jeep Wagoneer Series II,"\n \n Heated Leather Seats, Nav Sy...",Jeep,Wagoneer,74600.00,24V GDI DOHC Twin Turbo,6.0,Gasoline,10.0,8-Speed Automatic,Series II,SUV,4.0,White,Global Black,Four-wheel Drive,2,3.333333
1,2024 Jeep Grand Cherokee Laredo,Al West is committed to offering every custome...,Jeep,Grand Cherokee,50170.00,OHV,6.0,Gasoline,1.0,8-Speed Automatic,Laredo,SUV,4.0,Metallic,Global Black,Four-wheel Drive,2,0.333333
2,2024 GMC Yukon XL Denali,Unknown,GMC,Yukon XL,92398.75,"6.2L V-8 gasoline direct injection, variable v...",8.0,Gasoline,0.0,Automatic,Denali,SUV,4.0,Summit White,Teak/Light Shale,Four-wheel Drive,2,0.000000
3,2023 Dodge Durango Pursuit,White Knuckle Clearcoat 2023 Dodge Durango Pur...,Dodge,Durango,46835.00,16V MPFI OHV,8.0,Gasoline,26.5,8-Speed Automatic,Pursuit,SUV,4.0,White Knuckle Clearcoat,Black,All-wheel Drive,2,8.833333
4,2024 RAM 3500 Laramie,\n \n 2024 Ram 3500 Laramie Billet...,RAM,3500,81663.00,24V DDI OHV Turbo Diesel,6.0,Diesel,10.0,6-Speed Automatic,Laramie,Pickup Truck,4.0,Silver,Black,Four-wheel Drive,2,3.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
974,2024 Mercedes-Benz Sprinter 2500 Standard Roof,2024 Mercedes-Benz Sprinter 2500 Cargo 144 WB ...,Mercedes-Benz,Sprinter 2500,59037.00,16V DDI DOHC Turbo Diesel,4.0,Diesel,10.0,9-Speed Automatic,Standard Roof,Cargo Van,4.0,Arctic White,Black,Rear-wheel Drive,2,3.333333
975,2024 Dodge Hornet Hornet R/T Plus Eawd,Dealer Comments +++ Price Ends 5/31/2024 +++ A...,Dodge,Hornet,49720.00,"4 gasoline direct injection, DOHC, Multiair va...",4.0,Gasoline,0.0,6-Spd Aisin F21-250 PHEV Auto Trans,Hornet R/T Plus Eawd,SUV,4.0,Acapulco Gold,Black,All-wheel Drive,2,0.000000
976,2024 Jeep Wagoneer Base,\n \n The ALL New Friendship CDJR ...,Jeep,Wagoneer,69085.00,24V GDI DOHC Twin Turbo,6.0,Gasoline,20.0,8-Speed Automatic,Base,SUV,4.0,Diamond Black,Black,Four-wheel Drive,2,6.666667
977,2024 Nissan Murano SV Intelligent AWD,"\n \n CVT with Xtronic, AWD.At Tod...",Nissan,Murano,43495.00,"6 DOHC, variable valve control, regular unlead...",6.0,Gasoline,6.0,Automatic,SV Intelligent AWD,SUV,4.0,Pearl White Tricoat,Graphite,All-wheel Drive,2,2.000000
978,2024 Chevrolet Silverado 2500 WT,01u 2024 Chevrolet Silverado 2500HD Work Truck...,Chevrolet,Silverado 2500,48995.00,"8 gasoline direct injection, variable valve co...",8.0,Gasoline,26.5,Automatic,WT,Pickup Truck,4.0,Wheatland Yellow,Jet Black,Rear-wheel Drive,2,8.833333

In [47]:
drop_cols = ['name', 'description', 'engine']
dataset2.drop(columns=drop_cols, inplace=True)

In [48]:
dataset2

,make,model,price,cylinders,fuel,mileage,transmission,trim,body,doors,exterior_color,interior_color,drivetrain,vehicle_age,mileage_per_year
0,Jeep,Wagoneer,74600.00,6.0,Gasoline,10.0,8-Speed Automatic,Series II,SUV,4.0,White,Global Black,Four-wheel Drive,2,3.333333
1,Jeep,Grand Cherokee,50170.00,6.0,Gasoline,1.0,8-Speed Automatic,Laredo,SUV,4.0,Metallic,Global Black,Four-wheel Drive,2,0.333333
2,GMC,Yukon XL,92398.75,8.0,Gasoline,0.0,Automatic,Denali,SUV,4.0,Summit White,Teak/Light Shale,Four-wheel Drive,2,0.000000
3,Dodge,Durango,46835.00,8.0,Gasoline,26.5,8-Speed Automatic,Pursuit,SUV,4.0,White Knuckle Clearcoat,Black,All-wheel Drive,2,8.833333
4,RAM,3500,81663.00,6.0,Diesel,10.0,6-Speed Automatic,Laramie,Pickup Truck,4.0,Silver,Black,Four-wheel Drive,2,3.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
974,Mercedes-Benz,Sprinter 2500,59037.00,4.0,Diesel,10.0,9-Speed Automatic,Standard Roof,Cargo Van,4.0,Arctic White,Black,Rear-wheel Drive,2,3.333333
975,Dodge,Hornet,49720.00,4.0,Gasoline,0.0,6-Spd Aisin F21-250 PHEV Auto Trans,Hornet R/T Plus Eawd,SUV,4.0,Acapulco Gold,Black,All-wheel Drive,2,0.000000
976,Jeep,Wagoneer,69085.00,6.0,Gasoline,20.0,8-Speed Automatic,Base,SUV,4.0,Diamond Black,Black,Four-wheel Drive,2,6.666667
977,Nissan,Murano,43495.00,6.0,Gasoline,6.0,Automatic,SV Intelligent AWD,SUV,4.0,Pearl White Tricoat,Graphite,All-wheel Drive,2,2.000000
978,Chevrolet,Silverado 2500,48995.00,8.0,Gasoline,26.5,Automatic,WT,Pickup Truck,4.0,Wheatland Yellow,Jet Black,Rear-wheel Drive,2,8.833333

In [49]:
X = dataset2.drop('price', axis=1)
y = dataset2['price']

In [50]:
X

,make,model,cylinders,fuel,mileage,transmission,trim,body,doors,exterior_color,interior_color,drivetrain,vehicle_age,mileage_per_year
0,Jeep,Wagoneer,6.0,Gasoline,10.0,8-Speed Automatic,Series II,SUV,4.0,White,Global Black,Four-wheel Drive,2,3.333333
1,Jeep,Grand Cherokee,6.0,Gasoline,1.0,8-Speed Automatic,Laredo,SUV,4.0,Metallic,Global Black,Four-wheel Drive,2,0.333333
2,GMC,Yukon XL,8.0,Gasoline,0.0,Automatic,Denali,SUV,4.0,Summit White,Teak/Light Shale,Four-wheel Drive,2,0.000000
3,Dodge,Durango,8.0,Gasoline,26.5,8-Speed Automatic,Pursuit,SUV,4.0,White Knuckle Clearcoat,Black,All-wheel Drive,2,8.833333
4,RAM,3500,6.0,Diesel,10.0,6-Speed Automatic,Laramie,Pickup Truck,4.0,Silver,Black,Four-wheel Drive,2,3.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
974,Mercedes-Benz,Sprinter 2500,4.0,Diesel,10.0,9-Speed Automatic,Standard Roof,Cargo Van,4.0,Arctic White,Black,Rear-wheel Drive,2,3.333333
975,Dodge,Hornet,4.0,Gasoline,0.0,6-Spd Aisin F21-250 PHEV Auto Trans,Hornet R/T Plus Eawd,SUV,4.0,Acapulco Gold,Black,All-wheel Drive,2,0.000000
976,Jeep,Wagoneer,6.0,Gasoline,20.0,8-Speed Automatic,Base,SUV,4.0,Diamond Black,Black,Four-wheel Drive,2,6.666667
977,Nissan,Murano,6.0,Gasoline,6.0,Automatic,SV Intelligent AWD,SUV,4.0,Pearl White Tricoat,Graphite,All-wheel Drive,2,2.000000
978,Chevrolet,Silverado 2500,8.0,Gasoline,26.5,Automatic,WT,Pickup Truck,4.0,Wheatland Yellow,Jet Black,Rear-wheel Drive,2,8.833333

In [51]:
from sklearn.preprocessing import LabelEncoder
categorical_cols = X.select_dtypes(include=['object']).columns
print(categorical_cols)

Index(['make', 'model', 'fuel', 'transmission', 'trim', 'body',
       'exterior_color', 'interior_color', 'drivetrain'],
      dtype='object')

In [52]:
le = LabelEncoder()

for col in categorical_cols:
    X[col] = le.fit_transform(X[col])

In [53]:
X

,make,model,cylinders,fuel,mileage,transmission,trim,body,doors,exterior_color,interior_color,drivetrain,vehicle_age,mileage_per_year
0,15,137,6.0,4,10.0,19,148,6,4.0,256,34,1,2,3.333333
1,15,54,6.0,4,1.0,19,83,6,4.0,143,34,1,2,0.333333
2,9,146,8.0,4,0.0,32,50,6,4.0,235,81,1,2,0.000000
3,7,28,8.0,4,26.5,19,110,6,4.0,258,5,0,2,8.833333
4,23,2,6.0,0,10.0,9,80,5,4.0,206,5,1,2,3.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
974,21,120,4.0,0,10.0,28,158,0,4.0,12,5,3,2,3.333333
975,7,59,4.0,4,0.0,7,70,6,4.0,4,5,0,2,0.000000
976,15,137,6.0,4,20.0,19,41,6,4.0,83,5,1,2,6.666667
977,22,74,6.0,4,6.0,32,139,6,4.0,168,35,0,2,2.000000
978,5,111,8.0,4,26.5,32,177,5,4.0,255,43,3,2,8.833333

In [54]:
# X: features (numeric or label-encoded)
# y: target ('price')

dataset2_combined = X.copy()   # make a copy of X
dataset2_combined['price'] = y # add target column

In [55]:
dataset2_combined

,make,model,cylinders,fuel,mileage,transmission,trim,body,doors,exterior_color,interior_color,drivetrain,vehicle_age,mileage_per_year,price
0,15,137,6.0,4,10.0,19,148,6,4.0,256,34,1,2,3.333333,74600.00
1,15,54,6.0,4,1.0,19,83,6,4.0,143,34,1,2,0.333333,50170.00
2,9,146,8.0,4,0.0,32,50,6,4.0,235,81,1,2,0.000000,92398.75
3,7,28,8.0,4,26.5,19,110,6,4.0,258,5,0,2,8.833333,46835.00
4,23,2,6.0,0,10.0,9,80,5,4.0,206,5,1,2,3.333333,81663.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
974,21,120,4.0,0,10.0,28,158,0,4.0,12,5,3,2,3.333333,59037.00
975,7,59,4.0,4,0.0,7,70,6,4.0,4,5,0,2,0.000000,49720.00
976,15,137,6.0,4,20.0,19,41,6,4.0,83,5,1,2,6.666667,69085.00
977,22,74,6.0,4,6.0,32,139,6,4.0,168,35,0,2,2.000000,43495.00
978,5,111,8.0,4,26.5,32,177,5,4.0,255,43,3,2,8.833333,48995.00

In [56]:
dataset2_combined.to_csv("vehicle_cleaned_final.csv", index=False)

In [57]:
df = pd.read_csv('vehicle_cleaned_final.csv')

In [58]:
df

,make,model,cylinders,fuel,mileage,transmission,trim,body,doors,exterior_color,interior_color,drivetrain,vehicle_age,mileage_per_year,price
0,15,137,6.0,4,10.0,19,148,6,4.0,256,34,1,2,3.333333,74600.00
1,15,54,6.0,4,1.0,19,83,6,4.0,143,34,1,2,0.333333,50170.00
2,9,146,8.0,4,0.0,32,50,6,4.0,235,81,1,2,0.000000,92398.75
3,7,28,8.0,4,26.5,19,110,6,4.0,258,5,0,2,8.833333,46835.00
4,23,2,6.0,0,10.0,9,80,5,4.0,206,5,1,2,3.333333,81663.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
974,21,120,4.0,0,10.0,28,158,0,4.0,12,5,3,2,3.333333,59037.00
975,7,59,4.0,4,0.0,7,70,6,4.0,4,5,0,2,0.000000,49720.00
976,15,137,6.0,4,20.0,19,41,6,4.0,83,5,1,2,6.666667,69085.00
977,22,74,6.0,4,6.0,32,139,6,4.0,168,35,0,2,2.000000,43495.00
978,5,111,8.0,4,26.5,32,177,5,4.0,255,43,3,2,8.833333,48995.00

In [59]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
import pandas as pd

# Select numeric columns excluding target
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns.drop('price')
X_numeric = df[numeric_cols]

# Calculate VIF
vif_data = pd.DataFrame()
vif_data['Feature'] = X_numeric.columns
vif_data['VIF'] = [variance_inflation_factor(X_numeric.values, i) for i in range(X_numeric.shape[1])]

print(vif_data)

             Feature       VIF
0               make  1.236560
1              model  1.166629
2          cylinders  1.188552
3               fuel  1.266386
4            mileage       inf
5       transmission  1.124757
6               trim  1.063160
7               body  1.243204
8              doors  0.000000
9     exterior_color  1.059514
10    interior_color  1.092798
11        drivetrain  1.138208
12       vehicle_age  0.000000
13  mileage_per_year       inf

C:\Anaconda3\envs\hope\Lib\site-packages\statsmodels\stats\outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
C:\Anaconda3\envs\hope\Lib\site-packages\statsmodels\regression\linear_model.py:1782: RuntimeWarning: divide by zero encountered in scalar divide
  return 1 - self.ssr/self.centered_tss

In [60]:
# Drop zero variance and perfectly correlated features
X_cleaned = X_numeric.drop(columns=['mileage_per_year', 'doors', 'vehicle_age'])

print("Columns after cleaning:", X_cleaned.columns)

Columns after cleaning: Index(['make', 'model', 'cylinders', 'fuel', 'mileage', 'transmission', 'trim',
       'body', 'exterior_color', 'interior_color', 'drivetrain'],
      dtype='object')

In [61]:
vif_data = pd.DataFrame()
vif_data['Feature'] = X_cleaned.columns
vif_data['VIF'] = [variance_inflation_factor(X_cleaned.values, i) for i in range(X_cleaned.shape[1])]
print(vif_data)

           Feature        VIF
0             make   5.451480
1            model   3.845047
2        cylinders  11.203191
3             fuel  12.159837
4          mileage   2.556981
5     transmission   5.241529
6             trim   4.990665
7             body  16.570656
8   exterior_color   3.653632
9   interior_color   2.052005
10      drivetrain   2.020662

In [62]:
# Combine cleaned features and target variable
df_cleaned = X_cleaned.copy()
df_cleaned['price'] = df['price']  # add the target back


# Save to CSV
df_cleaned.to_csv('Final_vehicle_dataset_cleaned.csv', index=False)

print("Cleaned dataset saved! Shape:", df_cleaned.shape)

Cleaned dataset saved! Shape: (979, 12)